<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="63c07b96-7e6a-4285-b6bf-c55ab882e580" Publisher="CN=Hadi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FarsiLibrary.Win8Demo</DisplayName>
    <PublisherDisplayName>Hadi Eskandari</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FarsiLibrary.Win8Demo.App">
      <VisualElements DisplayName="FarsiLibrary.Win8Demo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="FarsiLibrary.Win8Demo" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>